%h1 Investments

- if @investments.blank?
  %p 
    There are no investments
- else
  -#- javascript "pagination"

= form_tag investments_path, :method => :get, :remote => true do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag "Search", :name => nil

%div#investments
  ~ render :partial => 'investments'



%br

= link_to 'New Investment', new_investment_path
