*.*~
log/*
log/production.log
log/development.log
development.log
production.log
*.log
*.sqlite
*.sqlite3
*.swp
*.swo
*.txt
*.xls
*.xlsx
*.doc
*.docx
*.psd
*.ai
*.jpg
*.gif
*.png
*.ico
*.swf
*.flv
*.tmp
tmp/tmp_migrations_old/*
tmp/
*.zip
